<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
    <title>Hair Salon</title>
  </head>
  <body>
@RenderBody()
@Html.Partial("Footer")
  </body>
</html>
