@{
  Layout = "_Layout";
}

<h2>//ADD A STYLIST//</h2>


<form action="/stylists" method="post">
  <label for="stylistName">STYLIST NAME</label>
  <input id="stylistName" name="stylistName" type="text">
  <label for="stylistSpecialty">STYLIST SPECIALTY</label>
  <input id="stylistSpecialty" name="stylistSpecialty" type="text">
  <button type="submit">ADD</button>
</form>

<p><a href="/">BACK HOME</a></p>
<p><a href="/stylists">BACK TO STYLISTS</a></p>
