@{
  Layout = "_Layout";
}

<h1>//CLIENTS//</h1>

@if (@Model["stylists"].Count > 0)
{
  <a href="/stylists/{stylistId}/clients/new">ADD A CLIENT</a>
}

@if (@Model["client"].Count == 0)
{
  <h3>NO CLIENTS HAVE BEEN ADDED YET!</h3>
}

@foreach (var client in @Model["client"])
{
  <h3><a href='/clients/@client.GetId()'>@client.GetNameClient()</a></h3>
}




<p><a href='/'>BACK HOME</a></p>

<form action="/clients/delete" method="post">
<button type="submit" name="button">DELETE ALL CLIENTS</button>
</form>
