@using HairSalon.Models;
@{
  Layout = "_Layout";
}

<h1>//CLIENT DETAILS// </h1>

<h2>NAME: @Model["client"].GetNameClient()</h2>
<h3>STYLIST: @Model["stylist"].GetName()</h3>


<form action="/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/delete-client" method="post">
  <button type="submit" name="button">DELETE THIS CLIENT</button>
</form>

<br>

<a href='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/edit'>EDIT THIS CLIENT</a><BR>
<a href='/stylists/@Model["stylist"].GetId()/clients/new'>ADD ANOTHER CLIENT</a><BR>
<a href='/stylists'>VIEW ALL STYLISTS</a>
