@using HairSalon.Models;
@{
  Layout = "_Layout";
}

<h1>//CLIENT DETAILS// </h1>

<h2>NAME: @Model["selectedClient"].GetNameClient()</h2>
<h2>HAIR TYPE: @Model["selectedClient"].GetHairType()</h2>

<form action="/stylists/@Model["selectedClient"].GetStylistId()/clients/@Model["selectedClient"].GetId()/delete-client" method="post">
  <button type="submit" name="button">DELETE THIS CLIENT</button>
</form>

<br>

<a href='/stylists/@Model["selectedClient"].GetStylistId()/clients/@Model["selectedClient"].GetId()/edit'>EDIT THIS CLIENT</a><BR>
<a href='/stylists/@Model["selectedClient"].GetStylistId()/clients/new'>ADD ANOTHER CLIENT</a><BR>
<a href='/stylists'>VIEW ALL STYLISTS</a>
